
.align-center{
    height:100%;
    img{
        margin: 36px auto;
    }
}

#cnpj{
    font-size: 2rem;
}
.login-page {
    position: relative;
    width: 100%;
    justify-content: center;
    display: flex;
    h1{
        color: #fff;
        text-shadow: 1px 1px 1px #000;
    }
}

.login-page::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    background: url(https://d19m59y37dris4.cloudfront.net/admin-premium/1-4-5/img/bg.jpg);
    background-size: cover;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0
}

.login-page .container {
    z-index: 999;
    padding: 20px;
    position: relative;
    margin-top: 10vh;
}

.login-page .form-holder {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 50px
}

.login-page .form-holder .info,
.login-page .form-holder .form {
    min-height: 70vh;
    padding: 40px;
    height: 100%
}

.login-page .form-holder div[class*='col-'] {
    padding: 0
}

.login-page .form-holder .info {
    background:rgba(159, 143, 129, 0.29);
    color: #fff
}

.login-page .form-holder .info h1 {
    font-size: 4.5em;
    font-weight: 600;
    line-height: 1em;
    @media  (max-width: 768px){
        font-size: 2.5em;
    }
}

.login-page .form-holder .info p {
    font-weight: 300
}

.login-page .form-holder .form .form-group {
    position: relative;
    margin-bottom: 30px
}

.login-page .form-holder .form .content {
    width: 100%
}

.login-page .form-holder .form form {
    width: 100%;
    max-width: 400px
}

.login-page .form-holder .form #login,
.login-page .form-holder .form #register {
    margin-bottom: 20px;
    cursor: pointer
}

.login-page .form-holder .form a.forgot-pass,
.login-page .form-holder .form a.signup {
    font-size: 0.9em;
    color: #85b4f2
}

.login-page .form-holder .form .terms-conditions label {
    cursor: pointer;
    color: #aaa;
    font-size: 0.9em
}

.login-page .copyrights {
    width: 100%;
    z-index: 9999;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff
}

@media (max-width: 991px) {
    .login-page .info,
    .login-page .form {
        min-height: auto !important
    }
    .login-page .info {
        padding-top: 100px !important;
        padding-bottom: 100px !important
    }
}

input.input-material {
    width: 100%;
    border: none;
    border-bottom: 1px solid #eee;
    padding: 10px 0
}

input.input-material.is-invalid {
    border-color: #dc3545 !important
}

input.input-material:focus {
    border-color: #796AEE
}

input.input-material ~ label {
    color: #aaa;
    position: absolute;
    top: 14px;
    left: 0;
    cursor: text;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    font-weight: 300
}

input.input-material ~ label.active {
    font-size: 0.8rem;
    top: -10px;
    color: #796AEE
}

input.input-material.is-invalid ~ label {
    color: #dc3545
}
button, input {
    outline: none !important;
}
.login-page .form-holder .form .form-group {
    position: relative;
    margin-bottom: 30px;
}
