@charset "UTF-8";
@import '../vars.scss';

.ProdutoTab{
    position:relative;
    .nav-tabs{
        .nav-link{
            color: $green;
            &.disabled{
                color: #ccc;
            }
        }
    }
    .tab-content{
        height: 250px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
