.About{
    padding-top:8vh;
    padding-bottom:8vh;
    *{
        font-family: 'Livvic', sans-serif;
    }
    .w-img{
        width:100%;
        height: 200px;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
    h3{
        font-weight: bold;
text-transform: uppercase;
font-size: 1.5rem;
letter-spacing: -1px;

    }
    p{
        color:#777;
    }

    .sidebar{
        p{
            font-size: 12px;
        }
    }
}