@import 'vars.scss';
@import 'TypeScale.scss';

.coupon{
  display: flex;
  justify-content: center;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px;
  color: #000;
}

ul.raw{
  list-style:none;
  padding:0;
}

h1{
  color: #000;
}

fieldset{
  legend{
    width: auto;
    max-width: initial;
    margin:0px 3px;
  }
}

html,body{
  min-height:100%;
  display: flex;
  width: 100%;
}

label{
  margin-bottom: 0;
}

.scroll-lock{
  overflow:hidden;
  height:100vh;
}

#root{
  width:100%;
}

#footer{
  font-size: 10px;
color:
#444;
padding: 2px 0;
}