.BannerSlide {
    border-top: 1px dotted #404040;
    border-bottom: 1px dotted #404040;
    @media (min-width:1200px){
       // margin-top: -95px;
        .carousel-control-prev{
            .carousel-control-prev-icon{
                width: 64px; 
                height: 64px;
            }
        }
        .carousel-control-next{
            .carousel-control-next-icon{
                width: 64px;
                height: 64px;
            }
        }
    }
    .carousel-item{
    
        img{
            width: 100%;
            margin: auto;
        }
        &.bg-dark{
            img{
                -webkit-filter: brightness(50%); /* Safari */
                filter: brightness(50%);
            }
        }      
    }
    .carousel-caption{
        @media (max-width: 768px){

            h2{
                font-size: 2rem !important;
            }
            p{
                font-size: 1rem !important;
            }
            transform: scale(0.6);
            bottom: -15% !important;
        }

        bottom: 15%;
        h2{
            font-family: 'Heebo';
            font-size: 3.5rem;
            text-shadow: 1px 1px 2px
            #000;
            text-transform: uppercase;
        }
        p{
            padding: 12px 0;
            font-family: 'Livvic', sans-serif;
            font-size: 1.3rem;
            color:#fff;
            background-color: rgba(0,0,0,0.35);
        }
        .btn{
            background:
            #52c33a;
            padding: 25px 18px !important;
            margin: auto;
            display: flex;
            align-items: center;
            height: 40px;
            align-self: center;
            text-shadow: 1px 1px 3px
            #000;
            color:
            #fff;
            border: 4px solid
            rgba(200, 200, 200, 0.8);

            &.btn-left{
                margin-right:initial;
                margin-left: auto;
            }
        }
    }
    .carousel-indicators{
        @media (max-width: 768px){
            margin-bottom: 0;
        }
    }
}