.modal-backdrop{
    &.show{
        opacity: 0.85 !important;
    }
}
.ChargeModal{  
    padding: auto;
    overflow-y: hidden;     
    .modal-body{
        height: 37vh;
        @media (min-width: 768px){
            height: 42vh;
        }
        font-size: 13px;
        label{
            margin: 0;
        }
        .item{
            background: linear-gradient(to left top, #eee, #fff);
            padding: 6px;
            border: 1px solid #ccc;
            border-radius: 3px;
            margin: 2px 0;
        }

        #nav-purchase{
      
            position: fixed;
            bottom: 6px;
right: 0;
background:
#fff;
padding: 12px;
.nav-pills{
    margin: auto;
    width: 100%;
    @media (min-width: 768px){
        width: 60vw;
    }

    .nav-link{
        &.active{
            font-weight:bold;
            background-image: linear-gradient(41deg, #3C91AB 0%, #73d0fd 51%, #177e8e 75%);
        }
        &.complete{
           
            font-weight: bold;
       border: 1px solid black;
padding-right: calc(1.5em + 0.75rem);
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2373A839' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
background-repeat: no-repeat;
background-position: right calc(0.375em + 0.1875rem) center;
background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);

        }
    }
}

        }
    }
}