

.cj{
    justify-content: center;
    display: flex;
  }
  
fieldset{
    &.dashed{
        border: 1px dashed gray;
    }
    legend{
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        color: #444;
    }
}

.react-date-picker{
    padding: 0;
    height:28px;
    .react-date-picker__wrapper{
        border: 0px;
        input{
            padding: 0 4px !important;
        }
    }
}

.input-group-text{
    padding: 0.175rem 0.55rem;
}

.react-date-picker__inputGroup{
    align-items: center;
}

.filetransfer{
    .download{
        height: 61px;
        justify-content: center;
        display: flex;
        padding: 0 0.5rem;
       
        button{
            width: 100%;
            height: 38px;
            margin-top: auto;
            font-size: 11px;
            font-weight: bold;
            position: relative;
            span{
                position: absolute;
    left: 22%;
    font-size: 11px;
    top: -11px;
            }
            
        }
    }
    .upload{
        height: 61px;
        justify-content: center;
        display: flex;
        padding: 0 0.5rem;
        button{
            width: 100%;
            height: 38px;
            margin-top: auto;
            font-size: 11px;
            font-weight: bold;
        }
    }

}