.Footer{

        background-image: url('img/fundo-oceano.png');
        background-position: bottom;
        background-size: cover;
    
      * {
        color: #fff;
        text-shadow: 1px 1px 1px #000;
      }

      p{
          font-size: 13px;
      }

      a{
        &:hover{
          color: #fff;
          font-weight: bold;
        }
      }

      .footer-copyright {
        border-top: 1px dashed #5e3535;
        *{
            font-size: 12px;
            color: #fff;
            text-shadow: 1px 1px 1px #000;
        }
  
      }
    .get-connected{

      border-top: 1px solid
      #bcb7a9;
      border-bottom: 1px solid
      #174d69;
      background-color:
      #184f6e;
color:#fff;

    }

    ul.lojas, ul.links{
      list-style: none;
    padding: 0;
    li{
      font-size: 12px;
margin: 12px 0;
    }
    }
}