
.Header {
    background-image: url('img/oceano.png');
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    min-height: 25vh;
     * {
        font-family: 'Livvic', sans-serif;
        font-weight: bold;
        color: #fff;
        line-height: initial;
        position: relative;
        z-index: 1;
      }
    .icon {
        color: #2fb8ee;
      }
     .text-muted {
         font-size: 12px;
        color: #bdbdbd !important;
      }

      .col{
          &:hover{
            background-color: rgba(255,255,255,0.1);
          }
      }

      .logo{
        
        justify-content: center;
        img{
          @media (max-width: 768px){
          width: 180px;
          }
        }
      }
      .wp-call{
        z-index: 10;
        justify-content: center;
      }

  }
 