
.InfoTile {
    font-family: 'Livvic', sans-serif;
    background-color: #233947;
    font-size: 13px;
    padding: 1vh 0;
    border-top: 4px inset #23394782;
    border-bottom: 1px solid #203340;
    * {
        color: #fff;
      }

      .phone-list{
        font-family: sans-serif;
        font-weight: bold;
        display: inline;
        justify-content: center;
display: flex;
        img{
            float: left;
          height: 20px;
margin-right: 6px;

        }
        .text-muted{
            margin:0 3px;
        }
      }

      .logout{
        padding: 0 12px;
      }
  }
 