
.modal{

    &.finished{
        .modal-header{
            background-image: linear-gradient(41deg, #3D9700 0%, #4ad518 51%, #34d926 75%) !important;   
        }
    }
 
    &.LoadingModal{
        .modal-dialog{
            border:0px;
        }
        .modal-content{
            background: transparent;
                  border:0px;
                
        }
    }
    &.show{
        &.z-2{

            z-index:1060;
       
        }
    }
    padding-right: 15px;
    .modal-dialog{
        margin: 7vh auto 0;
    }
    .modal-header{
        border-radius: 0px !important;
        color: #fff;
        background-image: linear-gradient(41deg, #3C91AB 0%, #73d0fd 51%, #177e8e 75%);        
        .modal-title{
            color: #fff;
        }
        .close{
            &:hover{
                cursor: pointer;
            }
        }
    }
    .modal-body{
        position:relative;
        height: 40vh;
        overflow-y: auto;
        border-bottom: 1px solid #ccc;
        
        .tab-content{
            padding: 0px 18px;
            width: 100%;
        }
           
    
      
    }
    .modal-footer{
        .btn-left{
            position: absolute;
            left: 16px;
        }
    }
    
}