@import url('https://fonts.googleapis.com/css?family=Mitr&display=swap');
.PriceTile{
    position: fixed;
    z-index: 1000;
    color:
    #fff;
    padding: 6px;
    background:
    #198091;
    width: 100%; 
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Mitr', sans-serif;
    top: 0;
height: 5.75vh;
left: 0;

    .wrap-cart{
        background:fff;
        background-image: none;
        color: #000;
        border: 1px dashed #737373;
        background-image: url('img/papyrus.png');
    }

}