.SigaInsta{
    background-image: url('img/wavy-dots.png');
    background-repeat: repeat;
    border: 1px solid #eee;
    padding-top: 8vh;
    .container{
        max-width: 980px;
    }
    .insta{
     
            max-height: 150px;
            height: 150px;
            width: 150px;
            background-position: center;
            background-size: 100% auto;
            margin: auto;
            display: block;
            overflow: hidden;
            border: 2px dotted #eee;
            margin: 12px auto;
            border-radius: 4px;

            .figcaption{
                width: 146px;
                position: absolute;
                bottom: 12px;
                color: #fff;
                font-size: 10px;
                padding: 3px;
                background: rgba(0,0,0,0.75);
            }
        
    }
    img{
        &.follow-us{
            width:70vw;
            margin: 8vh auto;
        }
    }
}