.NavbarTop{
    @media (min-width: 1200px){
        margin-top: -36px;
    }

    *{
        font-family: 'Livvic', sans-serif;
    }
    z-index: 2;
    position: relative;
    .navbar{
        background: linear-gradient(#ddd,
        #fff);
        border: 2px solid
        rgba(200,200,200,0.1);

        .react-date-picker .react-date-picker__wrapper input{
            padding: 0 !important;
        }

        label{
            
            text-transform:uppercase;
            text-decoration:underline;
            font-size: 12px;
            line-height: 27px;

margin-right: 3px;
        }
        .react-date-picker__button{
            padding: 4px 1px;
        }
    }
 
}