@import url('https://fonts.googleapis.com/css?family=Nobile:400|Poppins:400');

html {font-size: 14px;}

p {margin-bottom: 1.25em;}

h1, h2, h3, h4, h5 {
  margin:0.75rem 0 1rem;
  font-family: 'Nobile', sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;}